<nav class="bottom-nav">
  @for (item of navItems(); track item.path) {
    <a
      class="bottom-nav__item"
      [routerLink]="item.path"
      routerLinkActive="bottom-nav__item--active"
    >
      <span class="bottom-nav__icon">{{ item.icon }}</span>
      <span class="bottom-nav__label">{{ item.label }}</span>
    </a>
  }
  <button class="bottom-nav__item bottom-nav__item--logout" type="button" (click)="logout()">
    <span class="bottom-nav__icon">🚪</span>
    <span class="bottom-nav__label">Salir</span>
  </button>
</nav>
